:root {
     --cl1: #04BFBF;
     --cl1l: #04bfbf89;
     --cl1d: #086d6d;
     --cl2: #F2BD1D;
     --cl3: #F2E6D8;
     --cl4: #D97652;
     --cl4d: #bb5029;
     --cl6: #c14023;
     --cl5: #0D0D0D
 }

 .op4 {
     opacity: .4
 }

 nav {
     background: white;
     box-shadow: rgba(0, 0, 0, 0.196) 0px 3px 6px;
     padding: 4px;
     display: flex;
     justify-content: space-between
 }

 nav ul {
     list-style: none;
     padding: 0;
     display: inline-block;
     margin-right: 15px;
     font-weight: bold
 }

 nav li {
     display: inline-block;
     padding: 0 6px;
     border-left: 2px solid #bbbbbb
 }

 nav li:first-child {
     border-left: none
 }

 body {
     margin: 0;
     background: var(--cl3);
     font-family: sans-serif
 }

 .hide {
     display: none
 }

 .svgUpload {
     opacity: .6
 }

 .labelxupl .helptxt {
     font-size: 15px;
     opacity: .7
 }

 .contentsec {
     background: white;
     border-radius: 4px;
     display: flex;
     width: calc(98% - 20px);
     min-height: 100vh;
     margin: 10px;
     justify-content: flex-start;
     align-content: center;
     flex-direction: column;
     align-items: center;
     flex-wrap: wrap;
     padding: 1%;
     text-align: center
 }

 .contentsec img {
     max-width: 80%;
     height: auto
 }

 label[for='uploadJpg']:hover img {
     opacity: 1
 }

 .selimgsbtn {
     background: var(--cl1d);
     color: white;
     padding: 6px 10px;
     border-radius: 3px;
     display: inline-block;
     margin-bottom: 9px
 }

 label[for='uploadJpg'] {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 50%;
     margin: 15px 0;
     border: 3px dashed var(--cl1);
     border-radius: 6px;
     cursor: pointer;
     padding: 18px;
     height: max-content;
     margin-top: 6px;
     padding-top: 0px
 }

 .downclbtns {
     width: calc(80% + 32px);
     display: flex;
     justify-content: space-between;
     transition: .5s;
     margin-bottom: -14px;
     margin-top: 14px
 }

 .showImages {
     width: 80%;
     display: flex;
     position: relative;
     flex-direction: column;
     max-height: 80vh;
     overflow-y: auto;
     background: #f7f7f7;
     border-radius: 10px;
     padding: 16px;
     overflow-x: hidden;
     padding-bottom: 3px;
     transition: .5s;
     margin-top: 15px
 }

 .scrollbar::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
     border-radius: 5px;
     background-color: #F5F5F5
 }

 .scrollbar::-webkit-scrollbar {
     width: 9px;
     background-color: #F5F5F5
 }

 .scrollbar::-webkit-scrollbar-thumb {
     border-radius: 5px;
     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
     background-color: #b1b1b1
 }

 .showImages .img_wr_cont {
     width: 1%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 5px;
     border-radius: 4px;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     transition: 0.5s all;
     white-space: nowrap;
     overflow: hidden;
     min-height: 52px;
     margin-bottom: 12px;
     background: white
 }

 .downbtn {
     text-decoration: none;
     border: 2px solid;
     color: var(--cl4);
     padding: 6px;
     border-radius: 4px;
     font-weight: bold;
     margin-right: 5px
 }

 .sucscol {
     color: green;
     font-weight: bold
 }

 .lodaicon {
     animation: rotation 1s infinite linear
 }

 .flexcentr {
     display: flex;
     align-items: center
 }

 @keyframes rotation {
     from {
         transform: rotate(0deg)
     }

     to {
         transform: rotate(359deg)
     }
 }

 .mg_lblwrap img {
     max-width: 50px;
     max-height: 50px
 }

 .mg_lblwrap {
     width: 35%
 }

 .img_label {
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
     max-width: 100%
 }

 .hide {
     display: none !important
 }

 .DragArea,
 .loaderWrap {
     position: fixed;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background: rgba(0, 0, 0, 0.625);
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     flex-direction: column;
     z-index: 3
 }

 .DragArea b {
     font-size: 26px
 }

 .DragArea p {
     font-size: 18px
 }

 #Download_all,
 #clear_all {
     border: 1px solid;
     color: var(--cl1d);
     padding: 6px;
     border-radius: 3px;
     margin-bottom: 9px;
     margin-right: 2px;
     display: flex;
     cursor: pointer;
     align-items: center
 }

 #clear_all svg {
     fill: var(--cl6);
     width: 16px;
     margin-right: 3px
 }

 #clear_all {
     color: var(--cl6)
 }

 .loaderWrap {
     background: rgb(255 255 255 / 67%)
 }

 .loader {
     position: relative;
     width: 2.5em;
     height: 2.5em;
     transform: rotate(165deg) scale(1.5)
 }

 .loader:before,
 .loader:after {
     content: "";
     position: absolute;
     top: 50%;
     left: 50%;
     display: block;
     width: 0.5em;
     height: 0.5em;
     border-radius: 0.25em;
     transform: translate(-50%, -50%)
 }

 .loader:before {
     animation: before 2s infinite
 }

 .loader:after {
     animation: after 2s infinite
 }

 @keyframes before {
     0% {
         width: 0.5em;
         box-shadow: 1em -0.5em var(--tcolor), -1em 0.5em var(--scolor)
     }

     35% {
         width: 2.5em;
         box-shadow: 0 -0.5em var(--tcolor), 0 0.5em var(--scolor)
     }

     70% {
         width: 0.5em;
         box-shadow: -1em -0.5em var(--tcolor), 1em 0.5em var(--scolor)
     }

     100% {
         box-shadow: 1em -0.5em var(--tcolor), -1em 0.5em var(--scolor)
     }
 }

 @keyframes after {
     0% {
         height: 0.5em;
         box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75)
     }

     35% {
         height: 2.5em;
         box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75)
     }

     70% {
         height: 0.5em;
         box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75)
     }

     100% {
         box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75)
     }
 }

 .lightcol {
     color: #515151
 }

 .inpsizewrapper input {
     width: 56px;
     outline: none;
     padding: 4px;
     height: 13px
 }

 .inpsizewrapper .kbspan {
     background: var(--cl1d);
     color: white;
     padding: 3px 5px;
     position: relative;
     left: -10px;
     display: inline-block;
     height: 19px
 }

 .cmpbtnx {
     background: #086d6d;
     color: white;
     padding: 7px 10px;
     font-weight: bold;
     border-radius: 2px;
     margin-left: 9px;
     border: none;
     cursor: pointer;
     outline: none
 }

 .tablewrap {
     overflow: auto;
     max-width: calc(100%);
     display: inline-block
 }

 .writings {
     max-width: 1000px;
     line-height: 25px;
     color: #3d3d3d;
     width: calc(100% - 44px);
     font-size: 15px;
     text-align: left;
     padding: 22px
 }

 .writings p {
     text-align: justify
 }

 .labelxupl>p {
     margin: 0
 }

 h1 {
     text-align: center;
     color: #3d3d3d;
     font-size: 25px;
     margin-bottom: 0
 }

 h2 {
     font-size: 23px
 }

 h3 {
     font-size: 21px
 }

 .tagline {
     margin-top: 6px
 }

 input[type="checkbox"] {
     height: 16px;
     width: 16px;
     margin-right: 6px
 }

 .writings ol,
 .writings ul {
     padding: 0px;
     text-align: left
 }

 footer {
     display: flex;
     background: white;
     padding: 2%;
     color: #3d3d3d;
     line-height: 20px;
     justify-content: space-around
 }

 table {
     border-collapse: collapse
 }

 table td,
 table th {
     border: 1px solid #ddd;
     padding: 6px
 }

 .bar1,
 .bar2,
 .bar3 {
     width: 35px;
     height: 5px;
     background-color: #434343;
     margin: 6px 0;
     transition: 0.4s
 }

 .mobnav li {
     display: block;
     line-height: 40px;
     padding-left: 30px;
     background: #607d8b;
     margin-top: 9px
 }

 .mobnav {
     margin-top: 75px;
     padding: 0px
 }

 .mobnav a {
     font-size: 17px;
     border-right: none;
     color: white !important
 }

 .mobnav {
     display: block;
     position: fixed;
     top: -75px;
     bottom: 0px;
     background: #e5e5e5eb;
     z-index: 2;
     left: 0px;
     right: 0px;
     width: calc(100% - 54px);
     height: 100%;
     overflow-y: scroll;
     padding: 27px;
     padding-top: 70px
 }

 .mencontainer {
     display: inline-block;
     cursor: pointer;
     position: absolute;
     top: 10px;
     z-index: 4;
     right: 20px
 }

 @media only screen and (min-width:750px) {
     .mencontainer {
         display: none !important
     }
 }

 .change .bar1 {
     -webkit-transform: rotate(-45deg) translate(-9px, 6px);
     transform: rotate(-45deg) translate(-9px, 6px)
 }

 .change .bar2 {
     opacity: 0
 }

 .change .bar3 {
     -webkit-transform: rotate(45deg) translate(-8px, -8px);
     transform: rotate(45deg) translate(-8px, -8px)
 }

 table tr:nth-child(even) {
     background-color: #f2f2f2
 }

 table th {
     padding: 6px;
     text-align: left;
     background-color: #516c79;
     color: white
 }

 footer>div {
     max-width: 33.3%;
     text-align: justify
 }

 footer h4 {
     margin: 8px 0;
     font-size: 18px
 }

 footer ul li {
     line-height: 32px
 }

 footer ul {
     list-style: none;
     padding-left: 10px
 }

 nav a,
 footer a,
 .cust_a {
     text-decoration: none;
     color: #086d6d
 }

 iframe {
     max-width: 100%
 }

 .writings ol li,
 .writings ul li {
     list-style-position: inside;
     margin-top: 10px
 }

 .linkallt ul {
     list-style: none;
     margin: 0;
     padding: 0
 }

 .linkallt ul a {
     text-decoration: none;
     font-weight: bold;
     color: var(--cl1d)
 }

 .linkallt h3 {
     font-size: 16px
 }

 .linkallt ul li {
     display: inline-block;
     border: 1px solid var(--cl1d);
     padding: 2px 8px;
     margin: 5px;
     border-radius: 3px
 }

 @media only screen and (max-width:750px) {
     .img_wr_cont {
         flex-direction: column
     }

     nav ul {
         display: none
     }

     .img_wr_cont>span {
         margin-top: 10px
     }

     .mg_lblwrap {
         width: 93%
     }

     .img_wr_cont>span:last-child {
         margin: 22px 0
     }

     .labelxupl {
         width: 80% !important
     }

     .inpsizewrapper .kbspan {
         top: 0
     }

     .showImages {
         display: block;
         max-height: 70vh
     }

     footer {
         flex-direction: column
     }

     footer>div {
         max-width: 98%;
         padding: 1%
     }

     iframe {
         height: 190px
     }
 }

